<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <div>
        <%data2.forEach(item=>{%>
        <div>
            <img src="<%= item.logo%>" alt="">
            <h3><%= item.title%></h3>
            <p><%= item.company_name%></p>
            <p><%= item.type%></p>
            <form action="/person/offers/<%= data2[0].id %>?_method=put" method="post">
                <select name="status">
                    <option value="waiting">waiting</option>
                    <option value="accept">accept</option>
                    <option value="reject">reject</option>
                    <% console.log(data2[0])%>
                </select>
                <button>update offer</button>
            </form>
        </div>
        <%})%>
    </div>
</body>
<%- include("../../partials/footer") %>

</html>