<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>
<body>
    <%- include("../../partials/header/guest") %>
    
    <%- include("../../partials/login") %> 
    <p>i am guest</p>
    <form action="/search/company/result" method="get">
        <input type="text" name="company_name" value="">
        <input type="text" name="country" value="<%= ip%>">
        <button>Search</button>
    </form>
    <%- include("../../partials/footer") %>
</body>

</html>