<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
</head>

<body><% data1.forEach((item,index)=>{ %>.
    <img src="<%= item.logo %>" alt="" width="50px">
    <h3><%= item.title %></h3>
    <p><%= item.type %></p>
    <p><%= item.company_name %></p>
    <p><%= item.country %></p>
    <button id="id<%= index %>" onClick=reply_click(this.id)>APPLY</button>
    <div style="display: none;" class="dbid<%= index %>">
        <fieldset>
            <button id="id<%= index %>" onClick=reply_click(this.id)>X</button>
            <form action="/search/job/apply/<%=item.id%>" method="POST">
                <p>company INFO</p>
                <img src="<%= item.logo %>" alt="" width="50px">
                <p><%= item.company_name %></p>
                <p><%= item.phone %></p>
                <p>Job Application</p>
                <br>
                <img src="<%= data3.avatar%>" alt="" width="50px">
                <input type="text" name="first_name" value="<%= data3.first_name%>">
                <input type="text" name="last_name" value="<%= data3.last_name%>">
                <input type="text" name="country" value="<%= data3.country%>">
                <input type="text" name="phone" value="<%=data3.phone%>">
                <input type="hidden" name="company_id" value="<%= item.company_id %>">
                <input type="hidden" name="personID" value="<%= data3.id %>">
                <a href="<%= data3.cv%>">My CV</a>
                <input type="hidden" name="cv" value="<%= data3.cv%>">
                <input type="submit" value="APPLY My Application">
            </form>
        </fieldset>

    </div>
    <%})%>

    <% console.log(data2) %>
    <% data2.forEach((item,index)=>{ %>.
    <img src="<%= item.logo %>" alt="" width="50px">
    <h3><%= item.title %></h3>
    <p><%= item.type %></p>
    <p><%= item.company_name %></p>
    <button id="api<%= index %>" onClick=reply_clickapi(this.id)>DETAILS</button>
    <div style="display: none;" class="api<%= index %>">
        <fieldset>
            <button id="api<%= index %>" onClick=reply_clickapi(this.id)>X</button>
            <p><%= item.location %></p>
            <a href="<%= item.company_url %>">company website</a>
        </fieldset>
    </div>
    <%})%>

    <% console.log(data3) %>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="../js/showDetails.js"></script>

</html>