<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head") %>



<body>
    <%- include("../../partials/login") %> 
    <%- include("../../partials/header/guest") %>
    <% data1.forEach((item,index)=>{ %>.
    <img src="<%= item.logo %>" alt="" width="50px">
    <h3><%= item.title %></h3>
    <p><%= item.type %></p>
    <p><%= item.company_name %></p>
    <p><%= item.country %></p>
    <button onClick="signup()">APPLY</button>
    <%})%>

    <% data2.forEach(item=>{ %>.
    <img src="<%= item.logo %>" alt="">
    <h3><%= item.title %></h3>
    <p><%= item.type %></p>
    <p><%= item.company_name %></p>
    <button onClick="signup()">DETAILS</button>
    <%})%>

    <div style="display: none;" id="signup">
        <button onClick="signup()">X</button>
        <form action="/signup">
            <p>you must siginup</p>
            <button>Go Signup</button>
        </form>
    </div>
</body>

<%- include("../../partials/footer") %>
</body>

</html>