<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <%- include("../../partials/header/company") %>
    <% data1.forEach(item=>{%>
    <img src="<%= item.avatar%>" alt="personal pic">
    <h3><%= item.first_name%> <span><%= item.last_name%></span></h3>
    <p><%= item.phone%></p>
    <p><%= item.age%></p>
    <a href="<%= item.cv%>">Cv</a>
    <form action="/search/person/offer" method="POST">
        <input type="hidden" name="person_id" value="<%= item.id%>">
        <input type="hidden" name="company_id" value="<%= data.id%>">
        <button>SEND OFFER</button>

    </form>
    <%  }) %>
    <%- include("../../partials/footer") %>
</body>

</html>