<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <%- include("../../partials/header/company") %>
    <h1 id="Title">Employees</h1>

    <% data1.forEach((item,index)=>{%>
    <div class="personResult">
        <img src="<%= item.avatar%>" alt="personal pic">
        <h3><%= item.first_name%> <span><%= item.last_name%></span></h3>
        <p><%= item.phone%></p>
        <p><%= item.age%> years</p>
        <a class="curuse" href="<%= item.cv%>">CV</a>
        <button><a href="#popup<%= index%>">Send Offer</a>
    </div>

    <div id="popup<%= index%>" class="overlay">
        <div class="popup1">
            <h2>Send Offer</h2>
            <a class="close1" href="#">&times;</a>
            <div class="content">
                <div class="group">
                    <img src="<%= item.avatar %>" alt="" width="160px">
                    <h3 style="font-size: 18px; font-weight: bold; margin: 10px 0px;"><%= item.first_name%>
                        <%= item.last_name%></h3>
                </div>
                <hr class="hrApply">
                <form action="/search/person/offer" method="POST" class="fromApply0">
                    <div class="group">
                        <label for="titleee" class="label">Job Title</label>
                        <input id="titleee" class="input" required type="text" name="title" value=""
                            placeholder="Please enter job title">
                    </div>
                    <div class="group">
                        <label for="typeee" class="label">Job Type</label>
                        <select name="type" id="typeee">
                            <option value="Full Time">Full Time</option>
                            <option value="Part Time">Part Time</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="country" class="label">Job Location</label>
                        <input id="country" class="input" required type="text" name="location" value=""
                            placeholder="Please enter job location">
                        <input type="hidden" name="person_id" value="<%= item.id%>">
                        <input type="hidden" name="company_id" value="<%= data.id%>">
                    </div>
                    <div class="group">
                        <label for="descriptionn" class="label">Description</label>
                        <input id="descriptionn" class="input" required type="text" name="description" value=""
                            placeholder="Please enter job description">
                    </div>
                    <div class="group">
                        <input type="submit" class="button signUpBtn" value="Send Offer">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%  }) %>
    <%- include("../../partials/footer") %>
</body>
<div style="display:flex; justify-content: center; align-items: center;" class='splash'>
    <img src="../../imgs/splash.gif" alt="">
</div>

</html>