<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>



<body>
    <%- include("../../partials/header/person") %>
    <% if(data1 == undefined){ %>
    <h1>Can't find any company with that name</h1>
    <% }else{ %>
        <div class="companyDetails">
            <img src="<%= data.logo%>" alt="">
            <p class="name"><%= data.company_name%></p>
            <a class="curuse" href="<%= data.email%>">Send Email</a>
            <a class="curuse" href="<%= data.url%>">Company Site</a>
            <p><%= data.phone%></p>
            <p><%= data.country%></p>
        </div>
    <% } %>
    <%- include("../../partials/footer") %>
</body>
<div style="display:flex; justify-content: center; align-items: center;" class='splash'>
    <img src="../../imgs/splash.gif" alt="">
</div>

</html>