<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>



<body>
    <%- include("../../partials/header/person") %>
    <p>hi iam user</p>
    <% if(data1 == undefined){ %>
    <h1>Can't find any company with that name</h1>
    <% }else{ %>
    <img src="<%= data1.logo%>" alt="">
    <a href="<%= data1.email%>">Send Email</a>
    <p><%= data1.phone%></p>
    <p><%= data1.country%></p>
    <% } %>
    <%- include("../../partials/footer") %>
</body>

</html>