<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<!-- <link rel="stylesheet" href="../../styles/modules/personBG.css"> -->

<body>
    <%- include("../partials/header/person") %>
    <div style="display:flex; justify-content:center;">
        <h1 id="Title">Welcome, <h1 id="Title" style="color: #ff7e67;"><%=data.first_name%> <%=data.last_name%></h1>
        </h1>
    </div>
    <br>
    <div class="searchForm">
        <form class="mainFlex" action="/search/job" method="get">
            <div id="searchBoxes" style="display: flex; flex-wrap: nowrap;">
                <input type="text" name="title" value="" placeholder="Job Title">
                <input type="text">
                <input type="text" name="location" value="<%= ip%>" placeholder="Country">
            </div>
            <div class="searchBtn">
                <input class="searchBtnStyle" type="submit" value="Search">
            </div>
        </form>
    </div>



    <div class="main-div">
        <h1 id="Title" style="margin-top: 10px;">Recommanded Jobs: <%= data3.length + data2.length%></h1>
        <div class="header-dev">
        </div>
        <div class="dbInfo">
            <% data3.forEach((item,index) =>{ %>
            <div class="suggJobs">
                <img src="<%=item.logo%>" alt="">
                <p class="title"><%=item.title %></p>
                <p class="type"><%=item.type %></p>
                <p><%=item.location %></p>
                <p><%=item.company_name %></p>
                <button class="jobBtn"><a href="#popup<%= index%>">Apply</a>
            </div>
            <div id="popup<%= index%>" class="overlay">
                <div class="popup1">
                    <h2>Apply for Job</h2>
                    <a class="close1" href="#">&times;</a>
                    <div class="content">
                        <div class="group">
                            <img src="<%= item.logo %>" alt="" width="80px">
                            <h3 style="font-size: 18px; font-weight: bold; margin: 10px 0px;"><%= item.company_name %>
                            </h3>
                            <a href="http://<%= item.company_url %>"><%= item.company_url %></a>
                        </div>

                        <hr class="hrApply">
                        <form action="/search/job/apply/<%=item.id%>" method="POST" class="fromApply0">
                            <div class="group">
                                <label for="user" class="label">First Name</label>
                                <input id="user" class="input" required type="text" name="first_name"
                                    value="<%= data.first_name%>" placeholder="Please enter your first name">
                            </div>
                            <div class="group">
                                <label for="lastName" class="label">Last Name</label>
                                <input id="LastName" class="input" required type="text" name="last_name"
                                    value="<%= data.last_name%>" placeholder="Please enter your last name">
                            </div>
                            <div class="group">
                                <label for="country" class="label">Country</label>
                                <input id="country" class="input" required type="text" name="country" value="<%=ip%>"
                                    placeholder="Please enter your country name">
                                <input type="hidden" name="company_id" value="<%= item.company_id %>">
                                <input type="hidden" name="person_id" value="<%= data.id %>">
                            </div>
                            <div class="group">
                                <label for="phone" class="label">Phone No.</label>
                                <input id="phone" class="input" required type="text" name="phone"
                                    value="<%= data.phone%>" placeholder="Please enter your phone number">
                            </div>
                            <div class="group groupa">
                                <a href="<%= data.cv%>">My CV</a>
                            </div>
                            <div class="group">
                                <input type="submit" class="button signUpBtn" value="Apply">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
        <div class="apiInfo">
            <% data2.forEach((item,index) =>{ %>
            <div class="suggJobs">
                <img src="<%=item.logo%>" alt="">
                <p class="title"><%=item.title %></p>
                <p class="type"><%=item.type %></p>
                <p><%=item.location %></p>
                <p>-</p>
                <button class="jobBtn"><a href="#popupp<%= index%>">Details</a>
            </div>
            <div id="popupp<%= index%>" class="overlay">
                <div class="popup1">
                    <!-- <h2>Apply for Job</h2> -->
                    <a class="close1" href="#">&times;</a>
                    <div class="content">
                        <div class="group">
                            <img src="<%= item.logo %>" alt="" width="320px">
                            <h3 style="font-size: 18px; font-weight: bold; margin: 10px 0px;"><%= item.title %></h3>
                            <a style="font-size: 20px;" href="<%= item.company_url %>"><%= item.company_url %></a>
                        </div>

                        <hr class="hrApply">
                        <form class="fromApply0">
                        </form>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    </div>
</body>
<%- include("../partials/footer") %>

</html>