<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<% console.log(data,data2,data3) %>

<body>
    <form action="/company/jobs" method="get">
        <button>my jobs</button>
    </form>
    <form action="/company/jobs/submit" method="get">
        <button>submit job</button>
    </form>
    <form action="/company/edit" method="get">
        <button>edit company</button>
    </form>
    <button><a href="/logout">logout</a></button>
    <form action="/search/person" method="GET">
        <button> search person</button>
    </form>
    <div>
        <div>
            <h1>Applications</h1>
        </div>
        <% data2.forEach(item =>{ %>
        <div>
            <form action="/company/apps/answer/<%=item.id%>?_method=put" method="post">
                <img src="<%=item.avatar%>" alt="">
                <p><%= item.first_name %> <%= item.last_name %></p>
                <p><%= item.title %></p>
                <p><%= item.experince %></p>
                <p><a href="<%= item.cv %>">CV Link</a></p>
                <select name="status">
                    <% if(item.status == 'Pending'){ %>
                    <option selected value="Pending">Pending</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                    <% }else if(item.status == 'Accepted'){ %>
                    <option value="Pending">Pending</option>
                    <option selected value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                    <% } else{ %>
                    <option value="Pending">Pending</option>
                    <option value="Accepted">Accepted</option>
                    <option selected value="Rejected">Rejected</option>
                    <% } %>
                </select>
                <button>Update Status</button>
            </form>
        </div>
        <% }) %>
        <% data3.forEach(item =>{ %>
        <div>
            <form action="/company/offer/delete/<%=item.id %>?_method=delete" method="post">
                <img src="<%= item.avatar%>" alt="">
                <p><%= item.first_name%> <%= item.last_name%></p>
                <p><%= item.title%></p>
                <p><%= item.type%></p>
                <p><%= item.status%></p>
                <button>Delete</button>
            </form>
        </div>
        <%})%>
    </div>
</body>
<%- include("../partials/footer") %>

</html>