<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify</title>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/modules/aboutus.css">
    <style>
        body {
            background: #ecf4f3;
        }

        header {
            background: linear-gradient(-45deg, #68b0ab, #006a71, #68b0ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }

        footer {
            box-shadow: none;
        }
    </style>
</head>

<body>
    <% if(data3 == 'guest'){%>

    <%- include("../partials/header/guest") %>
    <%- include("../partials/login") %>

    <% } %>
    <% if(data3 == 'employer'){%>

    <%- include("../partials/header/person") %>
    <%- include("../partials/login") %>

    <% } %>
    <% if(data3 == 'company'){%>

    <%- include("../partials/header/company") %>
    <%- include("../partials/login") %>

    <% } %>

    <main>
        <section id="jobify-logo">
            <img src="https://i.ibb.co/c8yg1rr/Jobify2-1.png" alt="" />
        </section>
        <h1 style="color:black; margin-top: 0px;" id="Title">Englopers Team</h1>
        <section class="ourPictures">

            <div class="teamMemberPic" id="teamMembersPic">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../../imgs/zatar.jpg" style="width: 300px; height: 300px;" />
                        </div>
                        <div class="flip-box-back">
                            <h3>
                                Abdulkahim <br />
                                Zatar
                            </h3>
                            <a href="https://www.linkedin.com/in/abdulhakim-zatar/"><img
                                    src="../../imgs/linked-icon.png" alt="" /></a>
                            <a href="https://github.com/AbdulhakimZatar"><img src="../../imgs/github-icon.png"
                                    alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamMemberPic">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../../imgs/abdullah.jpg" style="width: 300px; height: 300px;" />
                        </div>
                        <div class="flip-box-back">
                            <h3>
                                Abdallah <br />
                                Zakaria
                            </h3>
                            <a
                                href="https://www.linkedin.com/in/abdallah-zakaria-7ba15218b/?fbclid=IwAR1LufWM6qkFLvPq3hX8kIornrhtoI03OO_KVBy79wdKdEKDFhtmHJZcTSA"><img
                                    src="../../imgs/linked-icon.png" alt="" /></a>
                            <a href="https://github.com/Abdallah-Zakaria"><img src="../../imgs/github-icon.png"
                                    alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamMemberPic">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U015K5FLGKY-75954c92b7ce-512"
                                style="width: 300px; height: 300px;" />
                        </div>
                        <div class="flip-box-back">
                            <h3>
                                Mohammad <br />
                                Al-Esseili
                            </h3>
                            <a href="https://www.linkedin.com/in/messeili/"><img src="../../imgs/linked-icon.png"
                                    alt="" /></a>
                            <a href="https://github.com/messeili"><img src="../../imgs/github-icon.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamMemberPic">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../../imgs/osama.jpeg" style="width: 300px; height: 300px;" />
                        </div>
                        <div class="flip-box-back">
                            <h3>
                                Osama <br />
                                Al-Thabteh
                            </h3>
                            <a href="https://www.linkedin.com/in/osama-al-thabteh-34b730157/"><img
                                    src="../../imgs/linked-icon.png" alt="" /></a>
                            <a href="https://github.com/Othabteh"><img src="../../imgs/github-icon.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>