<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <form action="/company/edit/update?_method=put" method="post">
        <input type="text" value="<%= data.company_name %>" name="company_name">
        <input type="text" value="<%= data.phone %>" name="phone">
        <input type="text" value="<%= data.logo %>" name="logo">
        <input type="text" value="<%= data.country %>" name="country">
        <input type="text" value="<%= data.company_url %>" name="company_url">
        <input type="hidden" value="<%= data.id %>" name="id">
        <button type="submit">submit</button>
    </form>
</body>
<%- include("../../partials/footer") %>

</html>