<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <% console.log('data:',data) %>
    <% console.log('data2:',data2) %>
    <% data2.forEach((item,index)=>{ %>
    <p><%= item.title%></p>
    <p><%= item.location%></p>
    <p><%= item.type%></p>
    <div style="display: none;" id="div<%= index%>">
        <button id="<%= index%>" onClick=updateMyJobs(this.id)>x</button>
        <form action="/company/jobs/update/<%= item.id%>?_method=put" method="post">
            <input type="text" value="<%= item.title%>" name="title">
            <input type="text" value="<%= item.location%>" name="location">
            <select name="type">
                <% if(item.type == 'Full Time'){%>
                <option selected value="Full Time">Full Time</option>
                <option value="Part Time">Part time</option>
                <% }else { %>
                <option value="Full Time">Full Time</option>
                <option selected value="Part Time">Part time</option>
                <% } %>
            </select>
            <input type="text" value="<%= item.description%>" name="description">
            <button type="submit">update</button></form>
    </div>

    <form action="/company/jobs/delete/<%= item.id%>?_method=delete" method="post">
        <button type="submit">delete</button></form>

    <button id="<%= index%>" onClick=updateMyJobs(this.id)>update</button>
    <% })%>

</body>
<%- include("../../partials/footer") %>

</html>