<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>

<body>
    <%- include("../../partials/header/company") %>
    <form action="/company/jobs/submit/action" method="post">
        <input type="text" value="" name="title">
        <input type="text" value="<%= ip%>" name="location">
        <select name="type">
            <option selected value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
        </select>
        <input type="text" value="" name="description">
        <input type="hidden" value="<%= data.id %>" name="id">
        <button type="submit">submit</button>
    </form>
</body>
<%- include("../../partials/footer") %>

</html>